@-webkit-keyframes fade-out{
  to {
    opacity: 0;
  }
}

@-webkit-keyframes fade-in{
  to {
    opacity: 1;
  }
}

@-webkit-keyframes shadow-swivel1{
  from{
    -webkit-transform: rotateZ(-25deg);
  }
  50%{
    -webkit-transform: rotateZ(-23deg);
  }
  to{
    -webkit-transform: rotateZ(-25deg);
  }
}


@-webkit-keyframes alice-act-in{
  from{
    -webkit-transform: rotateY(-20deg);
  }
  to{
    opacity: 1;
    -webkit-transform: rotateY(0);
  }
}

@-webkit-keyframes float{
  0%{
    -webkit-transform: translate(0,0);
  }
  
  50%{
    -webkit-transform: translate(3px,-12px);
  }

  100%{
    -webkit-transform: translate(0,0);
  }
}

.anim-fade-out{
  -webkit-animation: fade-out 1s ease-out;
  -webkit-animation-fill-mode: forwards;
}

.anim-fade-in{
  -webkit-animation: fade-out 1s ease-out;
  -webkit-animation-fill-mode: forwards;
}


.anim-floating{
  -webkit-transform: translateZ(0);
  -webkit-animation: float 8s infinite ease-in-out;
}
