@import 'lib/normalize/normalize.css';

html, body{
  height: 100%;
  width: 100%;
}

body{
  margin: 0;
  padding: 0;
}

p{
  margin:0;
}

// TODO: remove offsets, make lef-aligned designed
$base-offset: -200px;


/* 
Scroll events don't trigger on vertical scrolling if overflow-x is applied to the body.
Wrapping all content to prevent horizontal scrolling. 
*/
.wrapper{
  overflow-x: hidden;
}

#scene1{
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 90%, rgba(0,0,0,0.9)) bottom, url(../images/bg_scn1.jpg) left top;
  height: 1200px;
  width: 1900px;
  margin-left: $base-offset;
  overflow: hidden;
  position: relative;

  .content{
    width: 480px;
    margin-left: 600px;
    padding-top: 185px;
    -webkit-shape-inside: polygon( 99px 0px, 39px 71px, 60px 112px, 43px 154px, 117px 179px, 116px 203px, 73px 230px, 79px 262px, 116px 280px, 167px 279px, 167px 307px, 133px 328px, 141px 368px, 182px 384px, 238px 367px, 242px 424px, 33px 491px, 59px 539px, 119px 567px, 164px 575px, 192px 623px, 189px 677px, 61px 736px, 35px 805px, 9px 928px, 0px 997px, 414px 997px, 448px 796px, 408px 676px, 344px 661px, 341px 591px, 375px 525px, 361px 497px, 407px 445px, 454px 405px, 480px 376px, 481px 0px, 99px 0px);
  }
  
  .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
/*    -webkit-animation: flicker 8s infinite ease-in-out;*/

    background: -webkit-radial-gradient(center center, ellipse cover, rgba(0,0,0,0.1), rgba(0, 0, 0, 1) 40%);
    background-color: rgba(0,0,0,0);

    /* 
      Fake vignette with scaling because gradients can't be animated in CSS
      scale(1) for tight vignette
      scale(5+) for wide vignette
    */
    -webkit-transform: scale(8);
  }
}


#scene2_1{
  background: url(../images/bg_scn2_part_r1_c1_s1.jpg) 0 top;
  background-size: 100%;
  width: 1900px;
  height: 1700px;
  margin-left: $base-offset;
  
  .content{
  }
  
  /* hack to force first line to respect in shape-inside*/ 
  .content p:before{
    display: block;
    clear: both;
    content: "";
  }
}


#scene2_2{
  background: pink url(../images/bg_scn2_part_r2_c1_s1.jpg) 0 top no-repeat;
  background-size: 100%;
  width: 4860px;
  height: 4860px;
  margin-left: $base-offset;
  position: relative;
  
  .content{
  }
  
  /* hack to force first line to respect in shape-inside*/ 
  .content p:before{
    display: block;
    clear: both;
    content: "";
  }
}


.cat-shape{
  float: left;
  background-size: contain;
  clear: left;
  -webkit-shape-margin: 1em;
}

.cat-shape1{
  background: url(../images/cat_falling1.png) top left no-repeat;
  width: 472px;
  height: 534px;
  -webkit-shape-outside: polygon(nonzero, 22px -5px, 60px 36px, 116px 69px, 112px 115px, 131px 136px, 179px 114px, 188px 136px, 144px 174px, 119px 200px, 171px 232px, 193px 217px, 276px 236px, 339px 226px, 373px 217px, 394px 180px, 405px 230px, 428px 239px, 438px 277px, 474px 280px, 434px 318px, 409px 372px, 390px 438px, 321px 504px, 303px 492px, 187px 529px, 90px 505px, 35px 441px, 1px 363px, 50px 243px, 7px 199px, 31px 138px, 58px 95px, 30px 58px);
}

.cat-shape2{
  background: url(../images/cat_falling2.png) top left no-repeat;
  -webkit-shape-outside: polygon(nonzero, 37px 25px, 148px 0px, 180px 26px, 187px 66px, 166px 110px, 201px 128px, 218px 176px, 298px 190px, 335px 155px, 385px 134px, 420px 97px, 475px 90px, 521px 88px, 576px 114px, 552px 140px, 553px 176px, 533px 224px, 497px 229px, 480px 259px, 522px 286px, 552px 353px, 514px 365px, 536px 406px, 496px 407px, 484px 367px, 427px 353px, 403px 337px, 332px 386px, 273px 391px, 108px 341px, 18px 285px, 1px 245px, 10px 212px, 41px 141px, 32px 113px, 48px 81px);
  
  width: 575px;
  height: 410px;
}

.cat-shape3{
  background: url(../images/cat_falling3.png) top left no-repeat;
  -webkit-shape-outside: polygon(nonzero, 22px 5px, 67px 5px, 88px 47px, 94px 79px, 134px 80px, 171px 41px, 204px 31px, 256px 30px, 342px 62px, 445px 45px, 564px 72px, 626px 80px, 662px 92px, 682px 156px, 717px 181px, 672px 190px, 634px 219px, 569px 236px, 466px 251px, 433px 317px, 393px 374px, 374px 368px, 409px 276px, 387px 254px, 305px 248px, 270px 278px, 173px 251px, 191px 290px, 172px 332px, 122px 228px, 121px 145px, 49px 131px, 5px 81px, 1px 29px);
  width: 711px;
  height: 375px;
}

.cat-shape4{
  background: url(../images/cat_falling4.png) top left no-repeat;
  -webkit-shape-outside: polygon(nonzero, -4px 119px, 47px 61px, 249px 2px, 281px 17px, 480px 31px, 565px 7px, 656px 69px, 628px 89px, 590px 150px, 551px 149px, 511px 196px, 547px 324px, 539px 361px, 494px 394px, 412px 199px, 272px 200px, 202px 243px, 259px 282px, 250px 301px, 118px 247px, 129px 201px, 104px 158px, 21px 161px);
  width: 652px;
  height: 386px;
}

.cat-shape5{
  background: url(../images/cat_falling5.png) top left no-repeat;
  -webkit-shape-outside: polygon(nonzero, 7px 102px, 77px 53px, 81px 117px, 233px 130px, 388px 15px, 468px 1px, 554px 30px, 588px 76px, 641px 48px, 711px 69px, 773px 124px, 727px 148px, 705px 203px, 662px 232px, 608px 276px, 593px 305px, 602px 477px, 491px 489px, 379px 500px, 343px 477px, 303px 497px, 330px 550px, 280px 543px, 264px 512px, 233px 414px, 230px 335px, 198px 251px, 207px 191px, 162px 181px, 89px 205px, 4px 166px);
  width: 772px;
  height: 554px;
}

.cat-shape6{
  background: url(../images/cat_falling6.png) top left no-repeat;
  -webkit-shape-outside: polygon(nonzero, -5px 4px, 79px 36px, 134px 101px, 155px 234px, 186px 247px, 281px 183px, 353px 162px, 463px 197px, 513px 248px, 594px 245px, 654px 270px, 634px 291px, 634px 341px, 618px 370px, 596px 393px, 553px 386px, 536px 442px, 527px 474px, 539px 529px, 538px 592px, 569px 659px, 529px 660px, 481px 650px, 483px 700px, 441px 698px, 419px 630px, 359px 592px, 299px 619px, 310px 653px, 232px 680px, 199px 657px, 175px 589px, 157px 495px, 141px 371px, 161px 300px, 119px 280px, 92px 186px, 25px 103px);
  width: 652px;
  height: 702px;
}

.cat-shape-walking{
  background: url(../images/cat_walking.png) top left no-repeat;
  -webkit-shape-outside: polygon(nonzero, 120px 1px, 195px 9px, 220px 56px, 205px 107px, 139px 130px, 133px 184px, 188px 272px, 344px 259px, 567px 296px, 631px 279px, 620px 216px, 679px 230px, 738px 211px, 761px 237px, 809px 201px, 811px 264px, 841px 313px, 804px 336px, 744px 407px, 740px 517px, 812px 620px, 887px 666px, 866px 693px, 802px 676px, 621px 527px, 555px 532px, 497px 656px, 524px 678px, 501px 704px, 467px 699px, 458px 665px, 482px 529px, 304px 529px, 269px 585px, 237px 640px, 279px 683px, 325px 714px, 256px 720px, 187px 651px, 171px 599px, 184px 542px, 75px 577px, 33px 701px, -2px 683px, 28px 575px, 45px 512px, 102px 455px, 121px 295px, 66px 182px, 50px 121px, 70px 47px);
  width: 884px;
  height: 723px;
}




