body.scene1-end{
  .overlay{
    -webkit-animation: overlay-fade-to-black 1.5s 1 ease-out, overlay-darken 1s 1 ease-in;
    -webkit-animation-fill-mode: forwards;
  }
}

@-webkit-keyframes darken{
  from {
    background-color: rgba(0,0,0,0);
    
    }
  to {
    background-color: rgba(0,0,0,1);
  }
}

@-webkit-keyframes overlay-fade-to-black{
  from{
    -webkit-transform: scale(5) translateZ(0);
    background-color: rgba(0,0,0,0);
    }
  to {
    -webkit-transform: scale(1) translateZ(0);
    /* fade to black */
    background-color: rgba(0,0,0,1);
  }
}

@-webkit-keyframes flicker{
  0%{
    -webkit-transform: scale(3);
  }

  30%{
    -webkit-transform: scale(2);
  }
  
  50%{
    -webkit-transform: scale(3);
  }

  90%{
    -webkit-transform: scale(2.5);
  }
  
  100%{
    -webkit-transform: scale(3);
  }
}